*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* nav start  */
.logo img{
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 120px;
  cursor: pointer;
}
nav .menu{
  display: flex;
  list-style-type: none;
  gap: 32px;
  padding-top: 34px;
  padding-bottom: 34px;
  cursor: pointer;
  font-size: 16px;
}
nav .menu a{
  text-decoration: none;
}
nav .btn{
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 120px;
  cursor: pointer;
}
button{
  padding: 12px 16px;
  font-size: 16px;
  background-color: #30B868;
  color: white;
  border-radius: 4px;
  border: none;
}
header{
  /* background-color: aqua; */
}
nav{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
/* nav end */

#banner{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  cursor: pointer;
  /* padding: 0 auto; */
}
#banner .container .badge {
  background-color: white;
  display: inline-block;
  padding: 8px 12px;
  border: none;
  border-radius:35px ;
  color: #30B868;
}
#banner .container h1{
  font-size: 4rem;
  font-weight: 700;
  line-height: 84px;
  color: white;
}
#banner .container h1 span{
  color: #30B868;
}
#banner .container p{
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  margin-bottom: 2.5rem;
  padding: 16px 290px 32px 290px;
  line-height: 30px;
}
#banner .container .cta-group .btn-primary{
  padding: 16px 12px;
}
#banner .container .cta-group .btn-secondary{
  padding: 16px 12px;
  border: 1px solid white;
  background: none;
}
#skills{
  height: 70vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
}
#skills .skills-container .section-heading h2{
  padding-top: 56px;
}
#skills .skills-container{
  padding-left: 120px;
  padding-right: 120px;

}
.section-heading p{
  padding-top: 16px;
}
#skills .skills-container .skill-box{
  display: flex;
  gap: 24px;
  cursor: pointer;
}
.skill-box .skill-card{
  padding: 30px;
  margin-top: 44px;
  /* border: 2px solid red; */
  box-shadow: 0 6px 50px 0 rgb(209, 192, 192);
  border-radius: 8px;
}
.skill-box .skill-card img{
  background-color: rgba(249, 85, 85, 1);
  border-radius: 50%;
  padding: 16px 16px;
}
.skill-box .skill-card h3{
  font-size: 24px;
  padding-top: 16px;
}
.skill-box .skill-card p{
  padding-top: 16px;
}
/* end */
#brain .brain-container{
  padding: 120px 120px;
  display: flex;
  gap: 60px;
  cursor: pointer;
}
#brain .brain-container .brain-img img{
  width: 600px;
  height: 600px;
}
.brain-contant .head{
  /* border: 2px solid red; */
  padding-top: 102px;
  color: #30B868;
}
.brain-contant h2{
  padding-top: 16px;
  font-style: bold;
  font-size: 48px;
  font-weight: 700;
}
.brain-contant p{
  padding-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.brain-contant .icon{
  list-style-type: none;
  /* background: #30B868; */
}
.brain-contant .icon li i{
  background: #30B868;
  border-radius: 50%;
 
}
#early .early-container{
  padding: 82px 120px 120px 120px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.early-content {
  /* border: 1px solid red; */
  background: rgba(247, 246, 242, 1);
  border-radius: 8px;
}
.early-content h2{
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
.early-content p{
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
} 
.early-content button{
  margin-top: 24px;
}
.early-content footer{
  margin-top: 16px;
  padding-bottom: 80px;
}