*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* nav start  */
.logo img{
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 120px;
  cursor: pointer;
}
nav .menu{
  display: flex;
  list-style-type: none;
  gap: 32px;
  padding-top: 34px;
  padding-bottom: 34px;
  cursor: pointer;
  font-size: 16px;
}
nav .menu a{
  text-decoration: none;
}
nav .btn{
  padding-top: 36.5px;
  padding-bottom: 36.5px;
  padding-right: 120px;
  cursor: pointer;
}
button{
  font-size: 16px;
  background-color: #30B868;
  color: white;
}
header{
  /* background-color: aqua; */
}
nav{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
/* nav end */
