*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* nav start  */
.logo img{
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 120px;
  cursor: pointer;
}
nav .menu{
  display: flex;
  list-style-type: none;
  gap: 32px;
  padding-top: 34px;
  padding-bottom: 34px;
  cursor: pointer;
  font-size: 16px;
}
nav .menu a{
  text-decoration: none;
}
nav .btn{
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 120px;
  cursor: pointer;
}
button{
  padding: 12px 16px;
  font-size: 16px;
  background-color: #30B868;
  color: white;
  border-radius: 4px;
  border: none;
}
header{
  /* background-color: aqua; */
}
nav{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
/* nav end */

#banner{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  /* padding: 0 auto; */
}
#banner .container .badge {
  background-color: white;
  display: inline-block;
  padding: 8px 12px;
  border: none;
  border-radius:35px ;
  color: #30B868;
}
#banner .container h1{
  font-size: 4rem;
  font-weight: 700;
  line-height: 84px;
  color: white;
}
#banner .container h1 span{
  color: #30B868;
}
#banner .container p{
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  margin-bottom: 2.5rem;
  padding: 16px 290px 32px 290px;
  line-height: 30px;
}
#banner .container .cta-group .btn-primary{
  padding: 16px 12px;
}
#banner .container .cta-group .btn-secondary{
  padding: 16px 12px;
  border: 1px solid white;
  background: none;
}